.App {
  text-align: center;
}

.todo-list-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.calender-container {
  justify-self: end;
}

.line {
  border: 1px solid lightgrey;
}

.toggle-container {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.task-status-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
}

.edit-delete-container {
  display: flex;
  flex-flow: row;
  margin: auto;
}

.todo-container {
  text-align: left;
  background-color: #f8f8f8;
  margin: 10px;
  border-radius: 25px;
  min-width: 260px;
}

.done-container {
  text-align: left;
  background-color: #f8f8f8;
  margin: 10px;
  border-radius: 25px;
  min-width: 260px;
}

.task-title {
  padding: 10px;
  font-weight: normal;
  text-transform: uppercase;
  color: #acacae;
}

.title-text {
  text-transform: capitalize;
}
